<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Node.js + Passport Login System </title>

    <link rel="stylesheet" href="../public/assets/thirdparty/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../public/assets/thirdparty/fontawesome/fontawesome.css">
</head>
<body>
    <div class="container">
        <%- body %>
    </div>    


    <!-- Third-party Code -->
    <script src="../public/assets/thirdparty/jquery/jquery.js"></script>
    <script src="../public/assets/thirdparty/popper/popper.js"></script>
    <script src="../public/assets/thirdparty/bootstrap/js/bootstrap.js"></script>
    <script src="../public/assets/thirdparty/fontawesome/all.js"></script>
    <script src="https://unpkg.com/popper.js@1"></script>
    <script src="https://unpkg.com/tippy.js@4"></script>
</body>

</html>