<head>
  <link rel="stylesheet" href="/assets/thirdparty/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/assets/bytefit/css/styles.css">
  <link rel="stylesheet" href="/assets/thirdparty/fontawesome/fontawesome.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <title>ByteFit</title>

</head>
<br>
<% layout('layout') %>
<% include ./partials/messages %>

<div class="container loginForm">
  <div class="d-flex justify-content-center h-100">
    <div class="user_card">
      <div class="d-flex justify-content-center">
        <div class="brand_logo_container">
          <img src="/assets/bytefit/images/byte.png" class="brand_logo" alt="Logo">
        </div>
      </div>
      <div class="d-flex justify-content-center form_container">
        <form action="/users/login" method="POST">
          <div class="input-group mb-3">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="email" id="email" name="email" class="form-control email" placeholder="Enter Email" />
          </div>
          <div class="input-group mb-2">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input type="password" id="password" name="password" class="form-control password"
              placeholder="Enter Password" />
          </div>

      </div>
      <div class="d-flex justify-content-center mt-3 login_container">
        <button type="submit" class="btn btn-danger btn-block">Login</button>
      </div>
      <div class="mt-4">
        <div class="d-flex justify-content-center links">
          <p class="lead mt-4">
            No Account? <a href="/users/register">Register</a>
          </p>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>